.container {
    gap: 2px;
    height: 100vh;
    


}
.item {
    background: black;
    border: 2px solid black;
    padding: 10px;


    
}
.item:hover {
    background: white;

}

button { 
    height: 37px;
    width: 100px;
}