.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 2px;
    height: 100vh;
    


}
.item {
    background: peachpuff;
    border: 2px solid red;
    padding: 10px;


    
}